#kube-features {
    margin-top: 30px;
}

#kube-features .row:first-child {
    border-bottom: none;
}

#kube-features a {
    text-decoration: none;
    color: #043698;
}

#kube-features a:hover {
    color: #6E3BC5;
}

#hero p::before {
    background-color: #6E3BC5;
}
